@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.rancho{
    font-family: 'Rancho', cursive;
}

.railway{
    font-family: 'Raleway', sans-serif;
}

.item{
    transition: .3s;
}

.containerr:hover > :not(:hover){
    opacity: .4;
}